#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN"> <!--  -->
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %5p [%X{sessionId}] %c:%L-%m%n" />
        </Console>

        <Async name="ASYNC">
            <AppenderRef ref="CONSOLE" />
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="${package}.util" level="DEBUG" additivity="false">
            <AppenderRef ref="ASYNC" />
        </Logger>
        <Logger name="${package}" level="DEBUG" additivity="false">
            <AppenderRef ref="ASYNC" />
        </Logger>

        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="ASYNC" />
        </Logger>
        <Logger name="org.hibernate" level="WARN" additivity="false">
            <AppenderRef ref="ASYNC" />
        </Logger>
        <Logger name="io.springfox.documentation" level="WARN"
                additivity="false">
            <AppenderRef ref="ASYNC" />
        </Logger>
        <Logger name="com.zaxxer.hikari" level="WARN"
                additivity="false">
            <AppenderRef ref="ASYNC" />
        </Logger>
        <Logger name="com.openpojo" level="ERROR"  additivity="false">
            <AppenderRef ref="ASYNC" />
        </Logger>

        <Logger name="es.mir.semilla" level="INFO"
                additivity="false">
            <AppenderRef ref="ASYNC" />
        </Logger>
        <Logger name="es.mir.semilla.trans" level="WARN"
                additivity="false">
            <AppenderRef ref="ASYNC" />
        </Logger>
        <Root level="DEBUG" includeLocation="false">
            <AppenderRef ref="ASYNC" />
        </Root>
    </Loggers>
</Configuration>
